<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AoReflectionHelper" version="1.0.1" targetFramework="net461" />
  <package id="AoTestDataGen" version="1.0.5" targetFramework="net461" />
  <package id="Dapper" version="1.50.2" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="Postulate.Orm" version="0.9.220" targetFramework="net461" />
</packages>